.profile-container {
	width: 100%;
	height: calc(100% - 80px);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.profile-container h1 {
	color: white;
	text-align: center;
	vertical-align: center;
}

.profile-main-button-container {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
}

.profile-text-container {
	border-radius: 1.5rem;
	margin-top: 1.5rem;
	padding: 0.5rem 0.5rem 0 0.5rem;
	background-color: rgb(16, 17, 18);
	width: 50%;
	color: white;
	text-align: right;
	border: 0.2rem solid #7b7265;
}

.profile-text-container:hover {
	border: 0.2rem solid white;
}

.profile-translation-container {
	border-radius: 1.5rem;
	margin: 2rem 0 0 0;
	padding: 1.25rem 2.4rem 0 2.4rem;
	background-color: rgb(16, 17, 18);
	width: 50%;
	height: 50%;
	color: white;
}

.profile-text-preview {
	min-width: 2rem;
	min-height: 8px;
}

.profile-container a {
	color: white;
}

.profile-container a:hover,
.profile-container a:link,
.profile-container a:active,
.profile-container a:focus {
	text-decoration: none;
	color: white;
}

.profile-text-preview-title-lang {
	text-align: left;
	font-size: 1.2rem;
	padding: 0.5rem 0.5rem 0rem 1rem;
}

.profile-text-container .translation {
	background-color: rgb(151, 38, 65);
	margin-left: 1rem;
	color: white;
}

.profile-text-container hr {
	margin: 1rem 0.5rem 1rem 0.5rem;
	border-top: 1px solid rgba(255, 255, 255, 1);
}

.profile-text-preview-text {
	text-align: left;
	padding: 0 0.5rem 1rem 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: rgb(150, 150, 150);
}

.profile-text-options i {
	margin: 0 1rem 1rem 0;
	color: red;
	cursor: pointer;
}

.profile-text-options {
	text-align: right;
	padding: 1rem;
}

.warning-text {
	color: white;
	text-align: center;
}
